extends ../layouts/admin
block content
  main
    .container-fluid
      .row.mt-2
        .col-xl-12.col-md-12
          a.btn.btn-primary(href="/admin/create/types") Quản lý kiểu nhà
          a.btn.btn-primary.ml-3(href="/admin/create/kinds") Quản lý tiêu đề
          a.btn.btn-success.ml-3(href="/admin/create/products") Thêm thông tin nhà mới
    block create