extends ../layouts/adminv2
block content
  main
    .container-fluid
      .row.mt-2
        .col-xl-12.col-md-12
          a.btn.btn-primary(href="/admin/create/types2") Quản lý kiểu nhà
          a.btn.btn-primary.ml-3(href="/admin/create/kinds2") Quản lý tiêu đề
          a.btn.btn-success.ml-3(href="/admin/create/products2") Thêm thông tin nhà mới
    block create